#cart-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.cart-item {
    border: 1px solid #ddd;
    padding: 10px;
    background: #fff;
    border-radius: 6px;
}